#content{
    margin-top: 30px;
    background: white;
    border-radius: 2px;
    box-shadow: 0px 2px 5px #ccc;
    padding: 0px;
    overflow: hidden;
}

#header{
    background: #e03137;
    color: white;
    margin: 0px;
    height: 90px;
    line-height: 90px;
}

#header h1{
    display: block;
    line-height: 80px;
    font-weight: bold;
    font-size: 30px;
}

#nav {
    padding: 0px;
    margin: 0px;
    background: rgba(224, 49, 55, 0.67);
}

#nav ul {
    list-style: none;
    margin: 0px;
    padding-left: 20px;
}

#nav ul li {  
    margin-right: 20px;
}

#nav ul li a {
    color: white;
    height: 30px;
    display: block;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 300ms;
}

#nav ul li a:hover {
    text-decoration: none;
    background: rgba(224, 49, 55, 0.67);
}

.activado {
    text-decoration: none !important;
    background: rgba(224, 49, 55, 0.67) !important;
    border-bottom: 2px solid yellow !important;
}

#footer{
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    color: gray;
}

#main .jumbotron{
    padding: 50px;
    margin-top: 30px;
    border-radius: 5px;
}

#form-producto label{
    margin-top: 10 px;
}

.imagen_container {
    width: 100%;
    overflow: hidden;
}

.producto_imagen {
    margin: 0px auto;
    height: 200px;
    display: block;
}

.imagen_relleno {
    background: #ccc;
    widows: 100%;
    height: 200px;
}