<div class="col-lg-10 offset-lg-1">
    <div class="jumbotron">
        <h2>{{titulo}}</h2>
        <p>Gestiona tus productos con la aplicación web SPA creada con algular desde cero</p>
        <p>
            <a [routerLink]="['/productos']" class="btn btn-primary" >Ver productos</a>
            <a [routerLink]="['/crear-producto']" class="btn btn-success" >Aadir productos</a>
        </p>
    </div>
</div>