<h3>{{titulo}}</h3>
<hr>

<div *ngIf="!productos">
    Cargando listado de productos...
</div>
<div *ngIf="productos">
    <div class="row">
        <div class="card" style="width: 16rem; margin: 10px;" *ngFor="let producto of productos">
            <div *ngIf="producto.imagen" class="imagen_container">
                <img class="card-img-top producto_imagen" src="http://localhost/api-angular/uploads/{{ producto.imagen }}" style="width:100%;">
            </div>
            <div *ngIf="!producto.imagen">
                <div class="imagen_relleno"></div>
            </div>
            <div class="card-body">
                <h5>{{ producto.nombre }}</h5>
                <p>${{ producto.precio }}</p>
                <div class="botones" *ngIf="confirmado != producto.id">
                    <a [routerLink]="['/producto', producto.id]" class="btn btn-secondary" style="margin-right: 5px;">Ver</a>
                    <a [routerLink]="['/editar-producto', producto.id]" class="btn btn-primary" style="margin-right: 5px;">Editar</a>
                    <a (click)="borrarConfirm(producto.id)" class="btn btn-danger">Eliminar</a>
                </div>

                <div class="seguro" *ngIf="confirmado == producto.id">
                    <p>¿Esta seguro de queres borrar este producto?</p>
                    <a class="btn btn-danger" (click)="onDeleteProducto(producto.id)" style="margin-right: 5px;">Eliminar</a>
                    <a class="btn btn-warning" (click)="cancelarConfirm()" style="margin-right: 5px;">Cancelar</a>
                </div>

            </div>
        </div>
    </div>
</div>