<h3>{{ titulo }}</h3>
<hr>

<form #formProducto='ngForm' class="col-lg-6" id="form-producto" (ngSubmit)="onSubmit()">
    
    <label>Nombre</label>
    <div class="alert alert-warning" role="alert" *ngIf="!nombre.valid && nombre.touched">
        El nombre es obligatorio
    </div>
    <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="producto.nombre" required/>

    <label>Descripcion</label>
    <div class="alert alert-warning" role="alert" *ngIf="!description.valid && description.touched">
        La descripción es obligatorio
    </div>
    <textarea class="form-control" name="description" #description="ngModel" [(ngModel)]="producto.description" required></textarea>

    <label>Precio</label>
    <div class="alert alert-warning" role="alert" *ngIf="!precio.valid && precio.touched">
        El precio no es correcto
    </div>
    <input type="text" class="form-control" name="precio" #precio="ngModel" [(ngModel)]="producto.precio" required pattern="[0-9]+"/>
    
    <label>Imagen</label>

    <div *ngIf="is_edit" >
        <img class="card-img-top" src="http://localhost/api-angular/uploads/{{ producto.imagen }}" style="width:60px;">
    </div>

    <input type="file" class="form-control" name="imagen" (change)="fileChangeEvent($event)"/>

    <br>
    <input type="submit" value="{{ titulo }}" [disabled]="!formProducto.form.valid"  class="btn btn-success"/>
</form>