<div *ngIf="!producto">
        <p>Cargando producto</p>
    </div>
<div class="row" *ngIf="producto">
    <div class="col-lg-4" *ngIf="producto.imagen">
        <br>
        <img class="producto_imagen" src="http://localhost/api-angular/uploads/{{ producto.imagen }}">
    </div>
    <div class="col-lg-8">
        <h3>{{producto.nombre}}</h3>
        <p><b>{{producto.precio}}</b></p>
        <p>{{producto.description}}</p>
        <p><button [routerLink]="['/productos']" routerLinkActive="router-link-active"  class="btn btn-secondary">Atras</button></p>
    </div>
</div>

